.sidenav {
    height: 100%;
    display: grid;
    background: rgb(250, 250, 250);
    grid-area: span 2;
    padding: 10% 0 0 0;
}

.sidenav_sticky {
    position: fixed;
}

.links {
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
    color: #818181;
    list-style: none;
    color: black;
}

.links a:link {
    text-decoration: none;
    color: black;
}

.links a:hover {
    color: blue;
}


.logo {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}